/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the entire page */
body {
    background-color: #30F2F2;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style the header */
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

/* Style the registration form */
.register-form {
    background-color: #91F291;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%; /* Adjusted width */
    margin: 0 5%; /* Adjusted margins */
}

.register-form h2 {
    margin-bottom: 20px;
    font-size: 30px; /* Adjusted font size */
}

/* Style the form fields and buttons */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%; /* Adjusted width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Adjusted border radius */
    text-align: center;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px; /* Adjusted font size */
}

button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px; /* Adjusted font size */
}

button[type="button"]:hover {
    background-color: #0056b3;
}

/* Style the "Back to Login" link */
.back-to-login {
    margin-top: 10px;
}

.back-to-login a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .register-form {
        max-width: 100%; /* Full width for mobile */
        margin: 0;
        border-radius: 0; /* No border radius for mobile */
    }

    input[type="text"],
    input[type="password"] {
        width: 100%; /* Full width for mobile */
        border-radius: 0; /* No border radius for mobile */
    }

    button[type="button"] {
        width: 100%; /* Full width for mobile */
        border-radius: 0; /* No border radius for mobile */
    }
}
